<div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>


        <mat-card-content>
            <mat-card-title>سوق اجرتم</mat-card-title>
            <mat-card-subtitle> قائمة بمقدمي الخدمات المتنوعة</mat-card-subtitle>

            <div class="d-flex no-blcok">
                <div class="m-r-20">
                    <img class="img-circle" width="50" src="assets/images/logo.jpg" alt="Image"> </div>
                <div class="p-b-20 b-b m-b-30">
                    <h4 class="m-0">تآبين
                        <small class="text-muted">(غير مشغول)</small>
               
                    </h4>
                    <p class="text-muted">
                        جميع خدمات الموتي
                    </p>

                    <button mat-raised-button color="primary" routerLink='/service-list' >طلب الخدمة</button>
                   
                </div>
            </div>
            <div class="d-flex no-blcok">
                <div class="m-r-20">
                    <img class="img-circle" width="50" src="assets/images/kafan.jpg" alt="Image"> </div>
                <div class="p-b-20 b-b m-b-30">
                    <h4 class="m-0"> الفردوس
                        <small class="text-muted">( مشغول)</small>
               
                    </h4>
                     
                    <p class="text-muted">
                        نقل الموتي و الغسل 
                    </p>

                  
                </div>
            </div>

            <div class="d-flex no-blcok">
                <div class="m-r-20">
                    <img class="img-circle" width="50" src="assets/images/kabr.jpg" alt="Image"> </div>
                <div class="p-b-20 b-b m-b-30">
                    <h4 class="m-0">ادخلوها بسلام
                        <small class="text-muted">(غير مشغول)</small>
               
                    </h4>
                    <p class="text-muted">
تجهيز بيت الاجر
                    </p>

                    <button mat-raised-button color="primary" routerLink='/service-list' >طلب الخدمة</button>
                   
                </div>
            </div>

        </mat-card-content>


    </mat-card>
</div>