<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
 <div class="user-profile" 
 
 style="background: url(assets/images/logo.jpg) no-repeat;">
    <!-- User profile image -->
    <div class="profile-img">
        
        <!-- <img src="assets/images/users/profile.png" alt="user"> 
     -->
        <img id="comp-k4zpy5qzimgimage" style="object-position:50% 50%;width:80px;height:60px;object-fit:cover" alt="log.jpg" data-type="image" itemprop="image" src="https://static.wixstatic.com/media/046895_aa9e5f8f33eb42d4bcc48c787e9deef1~mv2.jpg/v1/fill/w_160,h_120,al_c,q_80,usm_0.66_1.00_0.01/log.webp">

    </div>

    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" 
        class=""> خالد الزامل <i class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Settings </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
    </mat-menu>
    
</div>
<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
        <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
            <mat-icon>{{ menuitem.icon }}</mat-icon> 
            <span>{{ menuitem.name }}</span> 
            <span fxFlex></span> 
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span> 
        </a>

        
    </mat-list-item>

</mat-nav-list>