<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>منصة اجرتم </mat-card-title>
                        <mat-card-subtitle>منصة اجتماعية تثقيفية تفاعلية تعني باتمتة الاجراءات التي يحتاج اليها الاشخاص
                            في حياتهم لحفظ مستنداتهم وطرق الوصول اليها في حياتهم وطرق نقل المعلومات لزويهم عند انتقالهم
                            للحياة الاخرة , وكذلك توفير الخدمات الالكترونية التفاعلية التي يحتاج اليها اهل المتوفي بداية
                            من توفير منسق متمرس لانها الاجراءات نيابة عن اهل المتوفي
                        </mat-card-subtitle>
                    </div>

                </div>

                <div class="barchrt" style="height:360px;">
                    <a routerLink="/service-list">
                        <img mat-card-image src="../../../assets/images/deathSteps.webp">
                    </a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>اعلانات</mat-card-title>
                <mat-card-subtitle>نعي وعزاء</mat-card-subtitle>
                <div class="piechart">
                    <img mat-card-image src="../../../assets/images/ads1.jpg">
                </div>
            </mat-card-content>
            <hr>
            <mat-card-content>
                <div class="piechart">
                    <img mat-card-image src="../../../assets/images/ads2.jpg">
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>