<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title > خدمات شهادة الوفاة
                        </mat-card-title>
                        <mat-card-subtitle>
                            تسمح هذه الخدمات المقدمة من هيئة المعلومات و الحكومة الالكترونية، للمواطنين و المقيمين إصدار ودفع رسوم شهادة الوفاة، طباعة إفادة الوفاة، كما تسمح لأصحاب العمل التحقق من صلاحية إفادة الوفاة.


                        </mat-card-subtitle>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <a routerLink="/print-death-card">
                    <div class="d-flex flex-wrap">
                        <div>
                            <mat-card-title> 
                                <mat-icon  role="img" aria-hidden="true">print</mat-icon>
                                طباعة إفادة الوفاة
                            </mat-card-title>
                       
                       
                            <mat-card-subtitle>
    لطباعة إفادة الوفاة
    
    
                            </mat-card-subtitle>
                        </div>
    
                    </div>
                </a>
          
            </mat-card-content>
        </mat-card>
    </div>

     <!-- column -->
     <div fxFlex.gt-lg="100" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <a routerLink="/print-death-card">
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>
                            <mat-icon  role="img" aria-hidden="true">verified_user</mat-icon>
                            
                            التحقق من إفادة الوفاة
                        </mat-card-title>
                        <mat-card-subtitle>
                            للتحقق من إفادة الوفاة التي يقدمها الموظف للمؤسسة.


                        </mat-card-subtitle>
                    </div>

                </div>
                </a>
            </mat-card-content>
      
        </mat-card>
    </div>

     <!-- column -->
     <div fxFlex.gt-lg="100" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <a routerLink="/print-death-card">
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title> 
                            <mat-icon  role="img" aria-hidden="true">speaker_notes</mat-icon>
                            
                            طلب شهادة الوفاة
                        </mat-card-title>
                        <mat-card-subtitle>
                            لطلب اصدار نسخة جديدة أو نسخة طبق الاصل لشهادة الوفاة.



                        </mat-card-subtitle>
                    </div>

                </div>
                </a>
            </mat-card-content>
            
        </mat-card>
    </div>

</div>
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <a routerLink="/print-death-card">
                    <div class="d-flex flex-wrap">
                        <div>
                            <mat-card-title> 
                                <mat-icon  role="img" aria-hidden="true">texture</mat-icon>

خدمة استعلام عن قبر متوفي
                            </mat-card-title>
                       
                       
                            <mat-card-subtitle>
خدمة تتيح الاستعلام عن الوفيات المسجلة في المملكة    
    
                            </mat-card-subtitle>
                        </div>
    
                    </div>
                </a>
          
            </mat-card-content>
        </mat-card>
    </div>
</div>

